.menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropmenu{
    position: relative;
}

.dropmenu-button{
    background: #333;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.dropmenu-list{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffa500;
    min-width: 160px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.calendar-frame {
  border: 0;
  width: 800px;
  height: 600px;
  overflow: hidden;
}

.calendar {
  border: none;
  outline: none;
  width: 600px;
  height: 600px;
  overflow: hidden;
}

.yearplan {
  border: none;
  outline: none;
  display: block;
  width: 800%;
  height: 800px;
  transform: none;
  backface-visibility: hidden;
}