.menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropmenu{
    position: relative;
}

.dropmenu-button{
    background: #333;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.dropmenu-list{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: f0fff;
    min-width: 160px;
    list-style: none;
    margin: 0;
    padding: 0;
}


