body {
    margin: 0;
    overflow-x: hidden;
    padding-top: 60px;
}

.ber{
  position: fixed;
    top: 0;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 10px;
    z-index: 1000;
}

.ber h1{
  font-size: 20px;
  margin: 0;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropmenu{
    position: relative;
}

.dropmenu-button{
    background: #333;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.dropmenu-list{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffa500;
    width: 160px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.yearplan { 
  border: none;
  width: 100%;
  height: auto;
  aspect-ratio: 64/119;
}

.calendar {
  border: none;
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
}

